* {
    background-color: black;
    color: white;
    font-family: sans-serif;
    letter-spacing: 1px;
}
body {
}

header {
    display:flex;
    justify-content: space-around;
    font-size: 13px;
    font-weight: 500;
    
}
.header1 {

}
.header2 {
    display:flex;
    justify-content: space-around;
}
.header3 {

}

.header_item1 {
    justify-content: center;
    font-size: 16px;
    padding: 15px;
}
.header_item1:hover {
    cursor: pointer;
}
.header_item2 {
    padding-top: 15px;
    padding-right: 15px;
}
.header_item2:hover {
    cursor: pointer;
}
.header_item3 {
    padding: 15px;
}
.header_item3:hover {
    cursor: pointer;
}
.header_item4 {
    padding: 15px;
}
.header_item4:hover {
    cursor: pointer;
}
.header_item5 {
    padding: 15px;
}
.header_item5:hover {
    cursor: pointer;
}
.search_icon {
    width: 18px;
    height: 18px;
    padding-top: 15px;
    /* background-image: url('images/search.png');
    background-size: cover; */
}
.search_icon:hover {
    cursor: pointer;
    content: url('images/search_2.png');
}



.div1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.vid1 {
    border-radius: 5px;
    position: relative;
    z-index: 0;
}
.overlay {
    display: inline-block;
    position: absolute;
    top: 28%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}
#text_12days {
    background-color: transparent;
    color: black;
    font-weight: 545;
}
#text_continuing {
    background-color: transparent;
    color: black;
    text-align: center;
    margin-top: -5px;
}
.btn1 {
    border-radius: 40px;
}
.btn1:hover {
    cursor: pointer;
}


@media (min-width: 481px) and (max-width: 767px) {
    /* Styles for mobiles*/
    .overlay {
            left: 39%;
        }
    
    #text_12days {
        font-size: 9px;
    }

    #text_continuing {
        font-size: 4px;
    }

    .btn1 {
        font-size: 4px;
        padding: 2px;
        padding-left: 3px;
        padding-right: 3px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
    .overlay {
            left: 40%;
        }
    
    #text_12days {
        font-size: 22px;
    }

    #text_continuing {
        font-size: 9px;
    }

    .btn1 {
        font-size: 9px;
        padding: 3px;
        padding-left: 5px;
        padding-right: 5px;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {
    /* Styles for medium tablets */
    .overlay {
            left: 40%;
        }

    #text_12days {
        font-size: 18px;
    }

    #text_continuing {
        font-size: 7px;
    }

    .btn1 {
        font-size: 7px;
        padding: 3px;
        padding-left: 7px;
        padding-right: 7px;
    }
}

@media (min-width: 1280px) {
    /* Styles for large desktops */
    .overlay {
            left: 38%;
        }
    
    #text_12days {
        font-size: 40px;
    }

    #text_continuing {
        font-size: 16px;
    }

    .btn1 {
        font-size: 16px;
        padding: 10px;
        padding-left: 15px;
        padding-right: 15px;
    }
}


.div2 {
    margin-top: 50px;
    margin-left: 200px;
}
.text_product {
    padding-bottom: 30px;
    font-size: 28px;

}
.products {
    display: flex;
    width: 80%;
}


/*Product Sora*/
.product_sora {
    display: flex;
    position: relative;
}
.sora_video {
    border-radius: 25px;
    position: relative;
    z-index: 0;
    width: 350px;
}
.sora_video:hover {
    cursor: pointer;
    transform: scale(1.01);
}
.overlay_sora {
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}
#text_sora_title {
    font-size: 13px;
    background-color: transparent;
    color: white;
    margin-top: -5px;
}
#text_sora_is_here {
    background-color: transparent;
    color: white;
    margin-left: 25px;
    margin-top: 400px;
    font-weight: 500;
}

/*mobiles*/
@media (min-width: 481px) and (max-width: 767px) {
.div2 {
    margin-top: 20px;
    margin-left: 50px;
    }
.text_product {
    padding-bottom: 30px;
    font-size: 15px;
}
.products {
    width: 80%;
}
.sora_video {
    width: 150px;
}
#text_sora_title {
    font-size: 10px;
    margin-top: -5px;
}
#text_sora_is_here {
    font-size: 10px;
    margin-left: 15px;
    margin-top: 140px;
    font-weight: 500;
}
}


@media (min-width: 768px) and (max-width: 1024px) {
.div2 {
    margin-top: 30px;
    margin-left: 100px;
}
.text_product {
    padding-bottom: 30px;
    font-size: 15px;
}
.products {
    width: 80%;
}
.sora_video {
    width: 250px;
}
#text_sora_title {
    font-size: 10px;
    margin-top: -5px;
}
#text_sora_is_here {
    font-size: 10px;
    margin-left: 15px;
    margin-top: 270px;
    font-weight: 500;
}
}

@media (min-width: 1025px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}


/*Product_chatgpt*/
.product_chatgpt {
    display: flex;
    position: relative;
    margin-left: 20px;
}
.img_chatGPT {
    width: 350px;
    height: 470px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}
.img_chatGPT:hover {
    cursor: pointer;
    transform: scale(1.01);
}
.overlay_chatgpt {
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}
#text_chatGPT_title {
    font-size: 13px;
    background-color: transparent;
    color: white;
    margin-top: -10px;
    margin-left: -50px;
}
#text_Introducing_chatGPT {
    background-color: transparent;
    color: white;
    margin-left: 25px;
    margin-top: 400px;
    font-weight: 500;
}

/*mobiles*/
@media (min-width: 481px) and (max-width: 767px) {
    .img_chatGPT {
        width: 160px;
        height: 200px;
        border-radius: 15px;
    }
    #text_chatGPT_title {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }
    #text_Introducing_chatGPT {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 140px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img_chatGPT {
        width: 250px;
        height: 333px;
        border-radius: 15px;
    }
    #text_chatGPT_title {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }
    #text_Introducing_chatGPT {
        font-size: 10px;
        margin-left: 25px;
        margin-top: 270px;
        font-weight: 500;
    }
}   

@media (min-width: 1025px) and (max-width: 1279px) {

}

@media (min-width: 1280px) {

}



/*Product_Search*/
.product_search {
    display: flex;
    position: relative;
    margin-left: 20px;
}
.img_search {
    width: 350px;
    height: 470px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}
.img_search:hover {
    cursor: pointer;
    transform: scale(1.01);
}
.overlay_search {
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}
#text_search_title {
    font-size: 13px;
    background-color: transparent;
    color: white;
    margin-top: -10px;
    margin-left: -70px;
}
#text_search {
    background-color: transparent;
    color: black;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 400px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .img_search {
        width: 160px;
        height: 200px;
        border-radius: 15px;
        }
    #text_search_title {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }
    #text_search {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 140px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img_search {
        width: 250px;
        height: 333px;
        border-radius: 15px;
    }

    #text_search_title {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }

    #text_search {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 270px;
        font-weight: 500;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {}

@media (min-width: 1280px) {}




/* Research */
.div3 {
    margin-top: 50px;
    margin-left: 180px;
}
.text_research {
    padding-bottom: 30px;
    font-size: 28px;
    margin-left: 20px;
}
.researchs {
    display: flex;
    width: 80%;
}

/*Research_1*/
.research_1 {
    display: flex;
    position: relative;
    margin-left: 20px;
}
.img_research_1 {
    width: 350px;
    height: 470px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}
.img_research_1:hover {
    cursor: pointer;
    transform: scale(1.01);
}
.overlay_research_1 {
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}

#title_research_1 {
    font-size: 13px;
    background-color: transparent;
    color: white;
    margin-top: -10px;
    margin-left: 40px;
}

#text_research_1 {
    background-color: transparent;
    color: white;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 400px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .div3 {
        margin-left: 0px;
        }
    .text_research {
        margin-left: 20px;
        font-size: 15px;
    }
    .img_research_1 {
        width: 160px;
        height: 200px;
        border-radius: 15px;
    }
    #title_research_1 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }
    #text_research_1 {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 140px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .div3 {
        margin-left: 80px;
        }
    .text_research {
        margin-left: 20px;
        font-size: 15px;
    }
    .img_research_1 {
        width: 250px;
        height: 333px;
        border-radius: 15px;
    }
    #title_research_1 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: 20px;
    }
    #text_research_1 {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 270px;
        font-weight: 500;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {}

@media (min-width: 1280px) {}


/*Research_2*/
.research_2 {
    display: flex;
    position: relative;
    margin-left: 20px;
}

.img_research_2 {
    width: 350px;
    height: 470px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}

.img_research_2:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.overlay_research_2 {
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}

#title_research_2 {
    font-size: 13px;
    background-color: transparent;
    color: white;
    margin-top: -10px;
    margin-left: 50px;
}

#text_research_2 {
    background-color: transparent;
    color: white;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 400px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .img_research_2 {
        width: 160px;
        height: 200px;
        border-radius: 15px;
    }

    #title_research_2 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }

    #text_research_2 {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 140px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img_research_2 {
        width: 250px;
        height: 333px;
        border-radius: 15px;
    }
    #title_research_2 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: 25px;
    }
    #text_research_2 {
        font-size: 10px;
        margin-left: -20px;
        margin-top: 270px;
        font-weight: 500;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {}

@media (min-width: 1280px) {}


/*Research_3*/
.research_3 {
    display: flex;
    position: relative;
    margin-left: 20px;
}

.img_research_3 {
    width: 350px;
    height: 470px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}

.img_research_3:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.overlay_research_3 {
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}

#title_research_3 {
    font-size: 13px;
    background-color: transparent;
    color: white;
    margin-top: -10px;
    margin-left: 50px;
}

#text_research_3 {
    background-color: transparent;
    color: white;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 400px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .img_research_3 {
        width: 160px;
        height: 200px;
        border-radius: 15px;
    }

    #title_research_3 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }

    #text_research_3 {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 140px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img_research_3 {
        width: 250px;
        height: 333px;
        border-radius: 15px;
    }
    #title_research_3 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: 25px;
    }
    #text_research_3 {
        font-size: 10px;
        margin-left: 0px;
        margin-top: 270px;
        font-weight: 500;
    }
}

/*Business*/

.div4 {
    margin-top: 50px;
    margin-left: 180px;
}
.text_business {
    padding-bottom: 30px;
    font-size: 28px;
    margin-left: 20px;
}
.business {
    display: flex;
    width: 80%;
}

/*Business_1*/
.business_1 {
    display: flex;
    position: relative;
    margin-left: 20px;
}

.img_business_1 {
    width: 350px;
    height: 470px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}

.img_business_1:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.overlay_business_1 {
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}

#title_business_1 {
    font-size: 13px;
    background-color: transparent;
    color: white;
    margin-top: -10px;
    margin-left: 40px;
}

#text_business_1 {
    background-color: transparent;
    color: black;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 380px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .div4 {
        margin-left: 0px;
    }
    .text_business {
        margin-left: 20px;
        font-size: 15px;
    }
    .img_business_1 {
        width: 160px;
        height: 200px;
        border-radius: 15px;
    }
    #title_business_1 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }
    #text_business_1 {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 140px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .div4 {
        margin-left: 80px;
    }
    .text_business {
        margin-left: 20px;
        font-size: 15px;
    }
    .img_business_1 {
        width: 250px;
        height: 333px;
        border-radius: 15px;
    }
    #title_business_1 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: 20px;
    }
    #text_business_1 {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 270px;
        font-weight: 500;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {}

@media (min-width: 1280px) {}


/*Business_2*/
.business_2 {
    display: flex;
    position: relative;
    margin-left: 20px;
}

.img_business_2 {
    width: 350px;
    height: 470px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}

.img_business_2:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.overlay_business_2 {
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}

#title_business_2 {
    font-size: 13px;
    background-color: transparent;
    color: white;
    margin-top: -10px;
    margin-left: 50px;
}

#text_business_2 {
    background-color: transparent;
    color: black;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 380px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .img_business_2 {
        width: 160px;
        height: 200px;
        border-radius: 15px;
    }

    #title_business_2 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }

    #text_business_2 {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 140px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img_business_2 {
        width: 250px;
        height: 333px;
        border-radius: 15px;
    }

    #title_business_2 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: 25px;
    }

    #text_business_2 {
        font-size: 10px;
        margin-left: -20px;
        margin-top: 270px;
        font-weight: 500;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {}

@media (min-width: 1280px) {}


/*Business_3*/
.business_3 {
    display: flex;
    position: relative;
    margin-left: 20px;
}

.img_business_3 {
    width: 350px;
    height: 470px;
    border-radius: 15px;
    position: relative;
    z-index: 0;
}

.img_business_3:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.overlay_business_3 {
    display: inline-block;
    position: absolute;
    top: 5%;
    z-index: 1;
    background-color: transparent;
    justify-items: center;
}

#title_business_3 {
    font-size: 13px;
    background-color: transparent;
    color: white;
    margin-top: -10px;
    margin-left: 50px;
}

#text_business_3 {
    background-color: transparent;
    color: black;
    font-weight: 500;
    margin-left: 25px;
    margin-top: 380px;
}

@media (min-width: 481px) and (max-width: 767px) {
    .img_business_3 {
        width: 160px;
        height: 200px;
        border-radius: 15px;
    }

    #title_business_3 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: -50px;
    }

    #text_business_3 {
        font-size: 10px;
        margin-left: 15px;
        margin-top: 140px;
        font-weight: 500;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .img_business_3 {
        width: 250px;
        height: 333px;
        border-radius: 15px;
    }

    #title_business_3 {
        font-size: 10px;
        margin-top: -5px;
        margin-left: 25px;
    }

    #text_business_3 {
        font-size: 10px;
        margin-left: -20px;
        margin-top: 270px;
        font-weight: 500;
    }
}

@media (min-width: 1025px) and (max-width: 1279px) {}

@media (min-width: 1280px) {}
